<!-- <p>payment-link works!</p> -->



<c-row ngPreserveWhitespaces>
  <c-col xs="12" xl="10">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Información del pago</strong>
      </c-card-header>
      <c-card-body>




        <form cForm>



          <!-- Payment Information -->
  

          <c-row>
            <c-col xs="6">

              <div class="mb-3">
                <label cLabel for="cardNumber">Número de tarjeta</label>
                <input cFormControl id="cardNumber" type="text" placeholder="Ingrese el número de tarjeta" />
              </div>
            </c-col>
            <c-col xs="3">
              <div class="mb-3">
                <label cLabel for="expirationMonth">Mes de expiración</label>
                <input cFormControl id="expirationMonth" type="number" placeholder="MM" />
              </div>
            </c-col>
            <c-col xs="3">

            <div class="mb-3">
              <label cLabel for="expirationYear">Año de expiración</label>
              <input cFormControl id="expirationYear" type="number" placeholder="AAAA" />
            </div>
          </c-col>


          <c-col xs="4">

          <select aria-label="Card select " cSelect>
            <option>Tipo de tarjeta</option>
            <option value="1">Visa</option>
            <option value="2">Master Card</option>
            <option value="3">Amex</option>
          </select>
        </c-col>

        
        <c-col xs="4">

          <div class="mb-3">
            <!-- <label cLabel for="totalAmount">Cantidad a pagar</label> -->
            <input cFormControl id="totalAmount" type="number" placeholder="Ingrese cantidad a pagar" />
          </div>
        </c-col>
        <c-col xs="4">

          <select aria-label="Default select example" cSelect>
            <option value="1">Lempiras</option>
            <option value="2">Dolares</option>
            <option value="3">Euros</option>
          </select>
        </c-col>


          </c-row>
  
          <!-- <div class="mb-3">
            <label cLabel for="cardType">Card Type</label>
            <input cFormControl id="cardType" type="text" placeholder="Visa/MasterCard/etc." />
          </div> -->

        
        </form>

      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Información de facturación</strong>
      </c-card-header>
      <c-card-body>




        <form cForm>


        
          <!-- Billing Information -->
          <c-input-group>

        <c-row>
          <c-col xs="4">

          <div class="mb-3">
            <label cLabel for="billToFirstName">Primer nombre</label>
            <input cFormControl id="billToFirstName" type="text" placeholder="Ingrese nombre" />
          </div>
        </c-col >
        <c-col xs="4">

          <div class="mb-3">
            <label cLabel for="billToLastName">Apellido</label>
            <input cFormControl id="billToLastName" type="text" placeholder="Ingrese apellido" />
          </div>
        </c-col >
        <c-col xs="4">

          <div class="mb-3">
            <label cLabel for="billToAddress1">Dirreción</label>
            <input cFormControl id="billToAddress1" type="text" placeholder="Ingrese direección" />
          </div>
        </c-col>
        <c-col xs="4">

          <div class="mb-3">
            <label cLabel for="billToLocality">Ciudad</label>
            <input cFormControl id="billToLocality" type="text" placeholder="Ingrese municipio" />
          </div>
        </c-col>
        <c-col xs="4">

          <div class="mb-3">
            <label cLabel for="billToPostalCode">Código postal</label>
            <input cFormControl id="billToPostalCode" type="text" placeholder="Ingrese código postal" />
          </div>
        </c-col>
        <c-col xs="4">
          <select aria-label="Default select example" cSelect>
            <option value="1">Honduras</option>
            <option value="2">Estados Unidos</option>
            <option value="3">España</option>
            <option value="4">Guatemala</option>
            <option value="5">El Salvador</option>
            <option value="6">México</option>

          </select>
          <!-- <div class="mb-3">
            <label cLabel for="billToCountry">País</label>
            <input cFormControl id="billToCountry" type="text" placeholder="Enter country" />
          </div> -->
        </c-col> 

        
        </c-row>
      </c-input-group>

          <!-- Shipping Information -->
          <!-- <c-input-group>

            <c-row>
          <div class="mb-3">
            <label cLabel for="shipToFirstName">Shipping First Name</label>
            <input cFormControl id="shipToFirstName" type="text" placeholder="Enter first name" />
          </div>
          <div class="mb-3">
            <label cLabel for="shipToLastName">Shipping Last Name</label>
            <input cFormControl id="shipToLastName" type="text" placeholder="Enter last name" />
          </div>
          <div class="mb-3">
            <label cLabel for="shipToAddress1">Shipping Address 1</label>
            <input cFormControl id="shipToAddress1" type="text" placeholder="Enter address line 1" />
          </div>
        
        
            <div class="mb-3">
              <button cButton type="submit">Submit</button>
            </div>


          </c-row>
        </c-input-group> -->
          </form>






      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Revisión</strong>
      </c-card-header>
      <c-card-body>
<form cForm>
  <c-callout color="warning">
Pago de letra 25/50 del contrato M09-202555 por L500.00
 </c-callout>
        <div class="mb-3">
          <button cButton type="submit" color="success">Pagar</button>
        </div>
          </form>






      </c-card-body>
    </c-card>
  </c-col>
</c-row>

